apiVersion: v1
kind: Service
metadata:
  name: {{ include "databend-query.fullname" . }}
  labels:
    {{- include "databend-query.labels" . | nindent 4 }}
      {{- with .Values.service.extraLabels }}
      {{- toYaml . | nindent 4 }}
      {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- range $key, $val := .Values.service.ports }}
    - port: {{ $val }}
      targetPort: {{ $key }}
      protocol: TCP
      name: {{ $key }}
      {{- if and (eq $.Values.service.type "NodePort") (hasKey $.Values.service.nodePorts $key) }}
      nodePort: {{ index $.Values.service.nodePorts $key }}
      {{- end }}
    {{- end }}
  selector:
    {{- include "databend-query.selectorLabels" . | nindent 4 }}
      {{- if and (eq .Values.workload "statefulset") (not .Values.enableLoadBalance) }}
      statefulset.kubernetes.io/pod-name: {{ include "databend-query.fullname" . }}-0
      {{- end }}
  {{- with .Values.service.sessionAffinity }}
  sessionAffinity: {{ .type }}
  sessionAffinityConfig:
    {{- toYaml .config | nindent 4 }}
  {{- end }}