name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.8.1
      - name: Helm Deps
        run: |
          helm repo add minio https://charts.min.io/
          helm repo add bitnami https://charts.bitnami.com/bitnami
      - name: Publish Helm chart
        uses: helm/chart-releaser-action@v1.4.0
        with:
          charts_repo_url: https://charts.databend.rs
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true
